<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 250px; height: 100vh; overflow-y: auto; position: fixed; top: 0; left: 0;">

  <a>
    <span class="fs-4" id="sidebar_header">
      <p style="font-size: 10px;">DATA-CENTRIC IRRIGATION ANALYTICS DASHBOARD</p>
    </span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
<br>
    <%= link_to dashboard_dashboard_page_path, class: "btn btn-success d-flex justify-content-between align-items-center", id: "sidebar" do %>
      <%= image_tag("dashboard icon.png", class: "nav-image mr-2", width: 32, height: 32) %>
      Dashboard
    <% end %>
<br>
    <%= link_to suggestions_suggestions_page_path, class: "btn btn-success d-flex justify-content-between align-items-center", id: "sidebar" do %>
      <%= image_tag("suggestions icon.png", class: "nav-image mr-2", width: 32, height: 32) %>
      Suggestions
    <% end %>
<br>
    <%= link_to moisture_data_moisture_data_page_path, class: "btn btn-success d-flex justify-content-between align-items-center", id: "sidebar" do %>
      <%= image_tag "moisture data icon.png", class: "nav-image mr-2", width: 32, height: 32 %> 
      Moisture Data
    <% end %>
<!--
 <br> 
    <%= link_to ph_level_data_ph_level_data_page_path, class: "btn btn-success d-flex justify-content-between align-items-center", id: "sidebar" do %>
      <%= image_tag "ph level icon.png", class: "nav-image mr-2", width: 32, height: 32 %> 
      pH Level Data
    <% end %>
--> 
<br>
    <%= link_to npk_level_data_NPK_level_data_page_path, class: "btn btn-success d-flex justify-content-between align-items-center", id: "sidebar" do %>
      <%= image_tag "NPK level icon.png", class: "nav-image mr-2", width: 32, height: 32 %>
      NPK Level Data
    <% end %>
  </ul>

  <hr>

  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <img width="32" height="32" class="rounded-circle me-2">
      <strong>~~~</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">

      <li><%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %></li> 
      <li><hr class="dropdown-divider"></li>
      <li><%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item" %></li>
    </ul>
  </div>
</div>
