<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 195px; height: 100vh; overflow-y: auto;">
    <a >
      <span class="fs-4" id = "sidebar_header">
         <p  style = "font-size: 10px;">DATA-CENTRIC IRRIGATION ANALYTICS DASHBOARD</p>
      </span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <%# <li class="nav-item">
        <a  class="nav-link active" id = "sidebar" >
          DashBoard
        </a>
      </li> %>
        <%= link_to "DashBoard", dashboard_dashboard_page_path, class: "nav-link active", id: "sidebar" %> 
<br>
      <%# <li class="nav-item">
        <a class="nav-link active" id = "sidebar" >
          Suggestions
        </a>
      </li> %>
        <%= link_to "Suggestions", suggestions_suggestions_page_path, class: "nav-link active", id: "sidebar" %> 

<br>
      <%# <li class="nav-item">
        <a  class="nav-link active" id = "sidebar" >
          Moisture Data
        </a>
      </li> %>
        <%= link_to "Moisture Data", moisture_data_moisture_data_page_path, class: "nav-link active", id: "sidebar" %> 

<br>
      <%# <li class="nav-item">
        <a  class="nav-link active" id = "sidebar" >
          pH Level Data
        </a>
      </li> %>
        <%= link_to "pH Level Data", ph_level_data_ph_level_data_page_path, class: "nav-link active", id: "sidebar" %> 

<br>
      <%# <li class="nav-item">
        <a class="nav-link active" id = "sidebar" >
          NPK Level Data
        </a>
      </li> %>
        <%= link_to "NPK Level Data", npk_level_data_NPK_level_data_page_path, class: "nav-link active", id: "sidebar" %> 
    </ul>

    <hr>

    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img  width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>